@media only screen and (max-width: 2600px) and (min-width: 1900px) {
  .theme-school .col-form-label{
    justify-content: flex-end;
    .sub-label {
      text-align: right;
    }
  }
}

@media only screen and (max-width: 4700px) and (min-width: 2601px) {
  .theme-school .col-form-label{
    justify-content: flex-end;
    .sub-label {
      text-align: right;
    }
  }
}
@media(min-width: 576px){
  .theme-school .col-form-label{
    justify-content: flex-end;
  }

}
@media(max-width: 768px){




}
