.ajax-loader {
  position: relative;
  overflow: hidden;
}

.ajax-loader:before {
  content: '';
  position: absolute;
  background-color: #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: 9999;
}

.ajax-loader.fade-out:before {
  opacity: 0.6;
}

.ajax-loader:after {
  content: '';
  height: 28px;
  width: 28px;
  -webkit-animation: loader 5s infinite linear;
  animation: loader 5s infinite linear;
  border: 4px solid;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 4px;
  right: 0;
  left: 0;
  z-index: 10000;
}

.ajax-loader.centered:after {
  top: 45%;
}

.ajax-loader .loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

/* loader css with animation */

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: #ffab00;
    border-right-color: transparent;
  }

  20% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #ff8826;
    border-right-color: transparent;
  }

  40% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    border-color: #ff3d00;
    border-right-color: transparent;
  }

  60% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    border-color: #ff3d00;
    border-right-color: transparent;
  }

  80% {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
    border-color: #ff8826;
    border-right-color: transparent;
  }

  100% {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
    border-color: #ffab00;
    border-right-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: #ffab00;
    border-right-color: transparent;
  }

  20% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #ff8826;
    border-right-color: transparent;
  }

  40% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    border-color: #ff3d00;
    border-right-color: transparent;
  }

  60% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    border-color: #ff3d00;
    border-right-color: transparent;
  }

  80% {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
    border-color: #ff8826;
    border-right-color: transparent;
  }

  100% {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
    border-color: #ffab00;
    border-right-color: transparent;
  }
}

/* End loader css with animation */

.animations-row {
  width: 0%;
  height: 3px;
  background: red;
  position: fixed;
  -webkit-animation: mymove 2s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 9999999;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fdd;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

/*
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
 */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fdd;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fdd transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*<div class="loadingio-spinner-bean-eater-gmbfsf5ff7u"><div class="ldio-snqhy5xanns">
<div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div>
</div></div>*/

@-webkit-keyframes ldio-snqhy5xanns-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes ldio-snqhy5xanns-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes ldio-snqhy5xanns-2 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes ldio-snqhy5xanns-2 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.ldio-snqhy5xanns > div:nth-child(2) {
  -webkit-transform: translate(-15px, 0);
          transform: translate(-15px, 0);
}

.ldio-snqhy5xanns > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #93dbe9;
  -webkit-animation: ldio-snqhy5xanns-1 1s linear infinite;
          animation: ldio-snqhy5xanns-1 1s linear infinite;
  -webkit-transform-origin: 60px 60px;
          transform-origin: 60px 60px;
}

.ldio-snqhy5xanns > div:nth-child(2) div:nth-child(2) {
  -webkit-animation: ldio-snqhy5xanns-2 1s linear infinite;
          animation: ldio-snqhy5xanns-2 1s linear infinite;
}

.ldio-snqhy5xanns > div:nth-child(2) div:nth-child(3) {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes ldio-snqhy5xanns-3 {
  0% {
    -webkit-transform: translate(190px, 0);
            transform: translate(190px, 0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
    opacity: 1;
  }
}

@keyframes ldio-snqhy5xanns-3 {
  0% {
    -webkit-transform: translate(190px, 0);
            transform: translate(190px, 0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
    opacity: 1;
  }
}

.ldio-snqhy5xanns > div:nth-child(1) {
  display: block;
}

.ldio-snqhy5xanns > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #689cc5;
  -webkit-animation: ldio-snqhy5xanns-3 1s linear infinite;
          animation: ldio-snqhy5xanns-3 1s linear infinite;
}

.ldio-snqhy5xanns > div:nth-child(1) div:nth-child(1) {
  -webkit-animation-delay: -0.67s;
          animation-delay: -0.67s;
}

.ldio-snqhy5xanns > div:nth-child(1) div:nth-child(2) {
  -webkit-animation-delay: -0.33s;
          animation-delay: -0.33s;
}

.ldio-snqhy5xanns > div:nth-child(1) div:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loadingio-spinner-bean-eater-gmbfsf5ff7u {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-snqhy5xanns {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-snqhy5xanns div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* generated by https://loading.io/ */

.sending-loader-wrapper {
  height: 40px;
}

.sender-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  float: right;
  margin-right: 89px;
  margin-bottom: 20px;
}

.sender-loading .dot {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0.3em;
  border-radius: 50%;
}

.sender-loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-animation: wave 2s ease-out infinite;
          animation: wave 2s ease-out infinite;
}

.sender-loading .dot:nth-child(1) {
  background: #7ef9ff;
}

.sender-loading .dot:nth-child(1)::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.sender-loading .dot:nth-child(2) {
  background: #89cff0;
}

.sender-loading .dot:nth-child(2)::before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.sender-loading .dot:nth-child(3) {
  background: #4682b4;
}

.sender-loading .dot:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sender-loading .dot:nth-child(4) {
  background: #0f52ba;
}

.sender-loading .dot:nth-child(4)::before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.sender-loading .dot:nth-child(5) {
  background: #000080;
}

.sender-loading .dot:nth-child(5)::before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes wave {
  50%, 75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }

  80%, 100% {
    opacity: 0;
  }
}

@keyframes wave {
  50%, 75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }

  80%, 100% {
    opacity: 0;
  }
}

.theme-school .error-hint {
  font-size: .55rem;
  font-weight: bold;
  text-align: right;
  width: 100%;
  display: block;
}

.theme-school .login-wrap {
  padding: 20px;
}

.theme-school .btn {
  border-radius: .25rem;
}

.theme-school .col-form-label {
  font-size: 0.84rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.theme-school .col-form-label .sub-label {
  font-size: 0.60rem;
  font-weight: bold;
}

.theme-school .col-form-label.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 0px;
}

.theme-school .loginWrp .form-group .form-control {
  height: 35px;
  border-radius: 4px;
  font-size: 14px;
  border-color: #f9eccd;
}

.theme-school input[type=checkbox],
.theme-school input[type=radio] {
  margin-right: 5px;
}

.theme-school .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.theme-school .checkbox label {
  margin-right: 15px;
  color: #212529;
  font-size: 0.84rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-school textarea.form-control {
  height: 60px !important;
}

